{% extends "converter/base.html" %}

{% block content %}
    <div class="convertor-wrapper">

        <div class="conveter-container">
            <div class="upload-box">
                <div class="select-file">
                    <!-- Upload files  -->
                    <form id="file-form" method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <i class="ri-file-add-fill"></i>
                        <p>Select File</p>
                        <!-- {{ form.as_p }} -->
                        <!-- <button type="submit">Upload</button> -->
                        <input type="file" id="file-input" name="files[]" multiple> 
                    </form>   
                </div>
                <div class="drop-down">
                    <i class="ri-arrow-down-s-line"></i>
                    <div class="drop-down-list">
                        <button><i class="ri-folder-open-fill"></i><p>From my computer</p></button>
                        <button><i class="ri-links-line"></i><p>By URL</p></button>
                        <button><i class="ri-drive-fill"></i><p>From Google Drive</p></button>
                        <button><i class="ri-dropbox-fill"></i><p>From Drop Box</p></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- List uploaded files on the screen and select format type -->
    <div class="result-container">
        <div class="addfiles-Todo">
            <ul class="file-list" id="files-list">
                <!-- add uploaded files here  (Javascript) -->

                <!-- <li class="file-list">
                    <div class="file-name-wrapper" id='file-${f.name}'>
                        <span class="file-name-icon"></span>
                        <div class="file-name-p">
                            <p>dasssssssssskhhkhoioihijijijs.pdf</p>
                        </div>
                    </div>
              
                    <div class="select-conversion-container">
                        <div class="conversion">
                            <button class="btn-button btn-caret btn btn-sm btn-outline-dark" id="formatSelect"></button>
                                
                            <div class="dropdown-menu select-choice-container select-format" style="display: none;">
                                <div class="format-search">
                                    <input class="form-search" type="text" placeholder="Search">
                                    <i class="ri-search-line search-icon"></i>
                                    <i class="ri-close-fill search-reset"></i>
                                </div> 
                        
                                <div class="wrapper">
                                    <ul class="types">
                                        <li class="current">Image</li>
                                        <li class="current">Document</li>
                                        <li class="current">Ebook</li>
                                        <li class="current">Font</li>
                                        <li class="current">Vector</li>
                                    </ul>
                                    <div class="formats">
                                        <div class="format-inner">
                                            <ul id="format-list">
                                                <li class="current format-btn btn-secondary"><span>PNG</span></li>
                                                <li class="current format-btn btn-secondary"><span>PDF</span></li>
                                                <li class="current format-btn btn-secondary"><span>BEEP</span></li>
                                                <li class="current format-btns btn-secondarys"><span>JPG</span></li>
                                                
                                                <li class="current format-btns btn-secondarys"><span>JPEG</span></li>
                                                <li class="current format-btns btn-secondarys"><span>XLSX</span></li>
                                                <li class="current format-btns btn-secondarys"><span>XLS</span></li>
                                                <li class="current format-btns btn-secondarys"><span>CSV</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>

                    <div class="status">
                        <span class="spining-ready">Ready</span>
                        <span class="spining-finish">Finished</span>
                        <i class="ri-refresh-line"></i>
                    </div>

                    <div class="file-size">120KB</div>

                    <div class="download-link"></div>

                    <div class="close-button">
                        <i class="ri-close-line"></i>
                    </div>
                </li> -->

                
            </ul>
     
            <div class="convert-button convert">
                <!-- <i class="ri-refresh-line"></i> -->
                <button class="converts"><p>Convert</p></button>
            </div>
        </div>
    </div>
{% endblock %}